*{
    margin: 0;
    padding: 0;
}
@mixin BorderBtn($bgc , $clr){
    border: 1px solid $primary-color;
    padding: 0.3em;
    border-radius: 10px;
    color: $clr;
    background-color:$bgc;

}