.photo-sec {
    margin-top: -6rem;
    .mov-btn {
        i {
            border-color: $primary-color;
            padding: 10px;
            background-color: #2fbefcda;
        }
    }
    .card {
        border: none;
        border-radius: 10px;
    }
    .card-txt {
        background-color: rgb(218, 226, 235);

    }
}